.authors{
    background-image: linear-gradient( #af7e44,#543723);
    padding-top: 80px;
    padding-bottom: 50px;
}

.authors .container .authors-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
    text-align: center;
}

.authors .container .author{
    width: 240px;
    height: 350px;
    padding:20px;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.authors .container  .author h2{
    color:var(--white);
    margin-top: 15px;
}

.authors .container .author img{
    width: 100%;
    object-fit: cover;
    height: 230px;
}

.authors .container .author img:hover{
    scale: 1.1;
    transition:1s linear;
    cursor: pointer;
}

.authors .container .search-box {
   display: flex;
   justify-content: center;
   margin:50px auto;
   border-bottom: 1px solid;
   max-width: 350px;
}

.authors .container .search-box input{
    width: 100%;
    font-size: 16px;
    background: transparent;
    color:var(--black)!important;
}

.authors .search-box input[type=text]::placeholder{
    color:var(--black);
    font-size: 18px;
}


