.not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:var(--black);
    text-align: center;
    height: 100vh ;
  }
  
  .not-found h1{
    color:var(--white);
    font-size: 150px;
    margin-bottom: 15px;
  }
  .not-found  p{
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .not-found .btn{  
    color:var(--white);
    font-size: 20px;
    border: 1px solid rgb(252, 248, 248);
    cursor: pointer;
    white-space: nowrap;
    padding: 15px 30px;
    margin:0 auto;
  }

  .not-found .btn:hover{
    color:var(--black)!important;
    background-color: transparent;
  }
  